{# This is the right column with the structure representation and details table #}

{% block content %}


    {# The structure viewer card: #}
    <div class="row">
        <div class="card w-100 mr-2">
            <div class="card-header">Structure View</div>
            <div class="card-body p-0 pb-1 pr-0">
                <div id="molcard" class="card border-0">
                    {# This card inside the card is a hack to overcome the too large molecule view #}
                </div>
            </div>
            <div class="card-footer">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="growStruct">
                    <label class="form-check-label" for="growStruct">Grow Structure</label>
                </div>
            </div>
        </div>
    </div>

    {# The details table: #}
    <div class="row">
        <div class="card mt-3 w-100 mr-2">
            <div class="card-header">Details</div>
            <div class="card-body pt-1 pl-3 pr-1 pb-2">
                <div id="ttable"></div>
            </div>
        </div>
        <br>
    </div>


{% endblock content %}