{% extends 'base.html' %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7 col-sm-6">
            {# <legend>Submit a Single-Crystal Sample</legend> #}
            {# {% robohash randstring width=250 height=250 %} #}
            {% crispy form %}
        </div>
    </div>
{% endblock content %}

{% comment %}
<script type="text/javascript" language="javascript" src="jsme/jsme.nocache.js"></script>

<script>
    //this function will be called after the JavaScriptApplet code has been loaded.
    function jsmeOnLoad() {
        jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px");
   }
</script>
</head>

<body>
<div id="jsme_container"></div>

</body>
{% endcomment %}
