{% extends 'base.html' %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}


{% block content %}
    {% comment %}
<script>
    //this function will be called after the JSME JavaScriptApplet code has been loaded.
    /*function jsmeOnLoad() {
        jsmeApplet = new JSApplet.JSME("jsme_container", "700px", "540px");
        jsmeApplet.setCallBack("AfterStructureModified", setSmiles);
    }*/
</script>
{% endcomment %}

    {% load crispy_forms_tags %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7 col-sm-6">
            {% crispy form %}
        </div>
    </div>

    <script>
        var ketcher_svg;
        var svg_field = document.getElementById('id_svg_struct_samp');
        jQuery(function ($) {
            $('#ketcher-frame').on('load', function () {
                var ketcher = this.contentWindow.ketcher;
                ketcher.editor.on('change', function () {
                    //source.val(ketcher.getMolfile())  // to get the mol file
                    ketcher_svg = ketcher.editor.render.clientArea.innerHTML;
                    svg_field.value = ketcher_svg;
                });
            })
        });
    </script>

{% endblock content %}
