{% extends 'base.html' %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}


{% block content %}
    {% comment %}
    <script>
        //this function will be called after the JavaScriptApplet code has been loaded.
        function jsmeOnLoad() {
            jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px");

        }
    </script>
    {% endcomment %}
    {% load crispy_forms_tags %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7 col-sm-6">
            {# <legend>Submit a Single-Crystal Sample</legend> #}
            {# {% robohash randstring width=250 height=250 %} #}
            {% crispy form %}
        </div>
    </div>
    <script>
        function setSmiles() {
            document.getElementById("id_desired_struct_samp").value = jsmeApplet.smiles();
            // FOR DEBUG:
            /*document.getElementById("id_crystal_cond_samp").value = jsmeApplet.smiles();*/
        }
    </script>
{% endblock content %}

