{% extends 'base.html' %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}


{% block content %}

    {% load crispy_forms_tags %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <div class="card">
                <div>
                    Sample name: {{ sample.sample_name }}
                </div>
                <div>
                    Submit date: {{ sample.submit_date }}
                </div>
                <div>
                    Sybmitted by: {{ sample.customer_samp }}
                </div>
                <div>
                    {% if sample.stable %}
                        Sample is sensitive
                    {% else %}
                        Sample is not sensitiv
                    {% endif %}
                </div>

                <div>
                    Customer solves by himself: {{ sample.solve_refine_selve }}
                </div>

                <div>
                    Sum formula: {{ sample.sum_formula }}
                </div>

                <div>
                    Reaction conditions: {{ sample.reaction_path }}
                </div>
                <div>
                    Crstallized from: {{ sample.crystallization_conditions }}
                </div>
                {% if sample.desired_struct_draw %}
                    Sample drawing:
                    <div class="svg p-0 m-0 h-50 w-50" id="id_{{ sample.id }}">
                        {% autoescape off %}
                            {{ sample.desired_struct_draw }}
                        {% endautoescape %}
                    </div>
                {% endif %}
            
                <div>
                    Special remarks:
                    {{ sample.special_remarks }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}