{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7 col-sm-8">
            <div class="card mb-5">
                <div class="card-header">{% trans "Successfully Submitted Sample, what next?" %}</div>
                <div class="card-body">
                    <ul class="mt-3">
                        <li class="mt-1">{% trans "Bring the sample to room No. -173 in the basement of the Inorganic Chemistry building." %}</li>
                        <li class="mt-1"><a href="http://www.xs3.uni-freiburg.de/team">Boumahdi Benkmil</a> {% trans "or" %}
                            <a href="http://www.xs3.uni-freiburg.de/team">Daniel Kratzert</a>
                            {% trans "can help you decide whether the crystals are measurable" %}.
                        </li>
                        <li class="mt-1">{% trans "Do not dry Crystals and keep the environmental conditions similar." %}</li>
                        <li class="mt-1">{% trans "After measurement, you see the results in your samples list." %}</li>
                    </ul>
                    {% include 'scxrd/buttons/ok_button.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}