{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}SC-XRD{% endblock title %}

{% block content %}

    <div class="row justify-content-center">

        <!-- Left column with experiment table --------- -->
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-header pb-2 pl-3">{% trans "Experiments List" %}
                    <a role="button" class="btn btn-outline-primary btn-sm float-right p-1 ml-2"
                       href="{% url 'scxrd:new_exp' %}">{% trans "New Experiment" %}</a>
                    <a role="button" class="btn btn-outline-primary btn-sm float-right p-1"
                       href="{% url 'scxrd:submit_sample' %}">{% trans "New Sample" %}</a>
                    <a role="button" class="btn btn-outline-primary btn-sm float-right p-1 mr-1"
                       href="{% url 'scxrd:my_samples_page' %}">{% trans "My Samples" %}</a>
                    <a role="button" class="btn btn-outline-primary btn-sm float-right p-1 mr-1"
                       href="{% url 'scxrd:op_samples_page' %}">{% trans "All Samples" %}</a>
                </div>
                <div class="card-body p-0">
                    <div class="flex-column mr-3 ml-3 mt-3 mb-0 mr-sm-0 ml-sm-0 p-2">
                        {% include 'scxrd/experiment_table.html' %}
                        <table id="exptable" class="table table-sm table-condensed table-hover"></table>
                    </div>
                </div>
            </div>
            <div class="card w-100">
                <div class="card-header">
                    {% trans "More Information" %}
                </div>
                <div class="card-body">
                    Here will be status information or statistics.
                </div>
            </div>
        </div>

        <div class="col-4">
            {# Right column with structure and details table #}
            {% include 'scxrd/details_struct_table.html' %}
        </div>

    </div>

{% endblock content %}