{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load myfilters %}
{% block title %}SC-XRD{% endblock title %}

{% block content %}

    <div class="row justify-content-center">

        <!-- Left column with experiment table --------- -->
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-header pb-2 pl-3 pr-2">{% trans "Experiments List" %}
                    {% include 'scxrd/buttons/small_buttons/new_experiment.html' %}
                    {% include 'scxrd/buttons/small_buttons/back_to_start.html' %}
                </div>
                <div class="card-body p-0">
                    <div class="flex-column mr-3 ml-3 mt-3 mb-0 mr-sm-0 ml-sm-0 p-2">
                        {% if user.is_authenticated and user|is_superuser %}
                            {% include 'scxrd/experiment_all_table.html' %}
                        {% else %}
                            {% include 'scxrd/experiment_by_user_table.html' %}
                        {% endif %}
                        <table id="exptable" class="table table-sm table-condensed table-hover"></table>
                    </div>
                </div>
            </div>
            <div class="card w-100">
                <div class="card-header">
                    {% trans "More Information" %}
                </div>
                <div class="card-body">
                    Currently running experiments:
                    {% for exp in current_measures %}
                        <p>{{ exp }} -> end time: {{ exp.end_time }}</p>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="col-4">
            {# Right column with structure and details table #}
            {% include 'scxrd/details_struct_table.html' %}
        </div>

    </div>

{% endblock content %}