{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% csrf_token %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-11 align-center">

            <div class="card mb-3">
                <div class="card-header pb-2 pl-3">{% trans "Unmeasured Samples from Customers" %}
                    <a role="button" class="btn btn-sm btn-outline-secondary float-right my-0 py-0"
                       href="{% url "index" %}">{% trans "Back to start" %}</a>
                </div>
                <div class="card-body p-0">
                    <div class="flex-column mr-3 ml-3 mt-3 mb-0 mr-sm-0 ml-sm-0 p-2">
                        <table id="samples" class="table table-sm table-condensed table-hover">
                            <thead>
                            <tr>
                                <td><b>{% trans "Sample" %}</b></td>
                                <td><b>{% trans "Submitted at" %}</b></td>
                                <td><b>{% trans "Sum Formula" %}</b></td>
                                <td><b>{% trans "Reaction Conditions" %}</b></td>
{#                                <td><b>{% trans "Measured" %}</b></td>#}
                                <td><b>{% trans "Special Remarks" %}</b></td>
                            </tr>
                            </thead>
                            {% for sample in object_list %}
                                <tr>
                                    <td><b>{{ sample.sample_name_samp }}</b>
                                        <div class="mt-3">
                                            <a role="button" class="btn btn-sm btn-success my-0 p-1"
                                               href="{% url "scxrd:new_exp_from_sample" pk=sample.id %}">{% trans "Measure Sample" %}</a>
                                        </div>
                                        <div class="mt-2">
                                            {% trans "Customer: " %}{{ sample.customer_samp }}
                                        </div>
                                        <div class="mt-2">
                                            {% trans "group: " %}{{ sample.customer_samp.profile.work_group }}
                                        </div>
                                        <div class="mt-2">
                                            {% if sample.solve_refine_selv_samp %}
                                                <span class="text-danger">
                                                    {% trans "Self refine" %}
                                                </span>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{{ sample.submit_date_samp }}</td>
                                    <td>{{ sample.sum_formula_samp }}</td>
                                    {% if sample.desired_struct_samp %}
                                        {% autoescape off %}
                                            <td>
                                                <div class="svg card" id="id_{{ sample.id }}"
                                                     style="max-width: 10cm">{{ sample.desired_struct_samp }} </div>
                                            </td>
                                        {% endautoescape %}
                                    {% else %}
                                        {% if sample.reaction_path_samp %}
                                            <td>
                                                <a href="{{ sample.reaction_path_samp.url }}">{% trans "Reaction Conditions" %}</a>
                                            </td>
                                        {% else %}
                                            <td> File not found</td>
                                        {% endif %}
                                    {% endif %}
                                    {% comment %}{% if sample.was_measured %}
                                        <td><span class="badge badge-success m-1 p-1">{% trans "Measured" %}</span></td>
                                    {% elif not sample.was_measured and sample.not_measured_cause %}
                                        <td><span
                                                class="badge badge-danger m-1 p-1">{% trans "Not possible" %}&thinsp;</span>
                                        </td>
                                    {% else %}
                                        <td><span
                                                class="badge badge-warning m-1 p-1">{% trans "Awaiting Measurement" %}</span>
                                        </td>
                                    {% endif %}{% endcomment %}

                                    <td style="max-width: 8cm">
                                        {% if sample.special_remarks_samp %}
                                            {% comment %}<div class="font-weight-bold">
                                                {% trans "Special remarks:" %}
                                            </div>{% endcomment %}
                                            <div class="text-break text-sm-left">
                                                {{ sample.special_remarks_samp }}
                                            </div>
                                            <br>
                                        {% endif %}
                                        {% if sample.not_measured_cause %}
                                            <div class="font-weight-bold">
                                                {% trans "Not measured because:" %}
                                            </div>
                                            <div class="text-break text-sm-left">
                                                {{ sample.not_measured_cause }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    {% empty %}
                                    <td colspan="6">
                                        <div class="card align-items-center m-4 p-4 badge-light font-weight-bold">
                                            No Samples found
                                        </div>
                                    </td>

                                </tr>


                            {% endfor %}

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}