{% extends 'base.html' %}

{% load static %}

{% csrf_token %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-7 align-center">

            <div class="card mb-3">
                <div class="card-header pb-2 pl-3">My Samples List
                    <a role="button" class="btn btn-sm btn-outline-secondary float-right my-0 py-0"
                       href="{% url "scxrd:index" %}">Back to start</a>
                </div>
                <div class="card-body p-3">
                    {% for sample in object_list %}
                        <div class="card mb-3">
                            <div class="card-header p-2 badge-dark">{{ sample.sample_name_samp }} <span
                                    class="float-right">Submitted: {{ sample.submit_date_samp }}</span>
                                {% comment %}<a role="button" class="btn btn-sm btn-outline-secondary float-right my-0 py-0"
                                       href="{% url "scxrd:index" %}">Back to start</a> {% endcomment %}
                            </div>
                            <div class="card-body p-2">
                                <div class="form-row  m-0 p-0">
                                    <div class="col-3 p-2">
                                        {% if sample.was_measured %}
                                            Measured:<span class="badge badge-success m-1 p-1">Yes</span>
                                        {% elif not sample.was_measured and sample.not_measured_cause %}
                                            Measured:<span
                                                class="badge badge-danger m-1 p-1">&thinsp;No&thinsp;</span>
                                        {% else %}
                                            Measured:
                                            <span class="badge badge-warning m-1 p-1">&thinsp;No&thinsp;</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-3 p-2">
                                        {{ sample.sum_formula_samp }}
                                    </div>
                                    <div class="col-6 p-2">
                                        {% if sample.solve_refine_selv_samp %}
                                            Selv-Service
                                        {% else %}
                                            Will be sent to you
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row m-0 p-0">
                                    <div class="col-6 p-2">
                                        {% if sample.desired_struct_samp %}
                                            {% autoescape off %}
                                                <div class="svg card" id="id_{{ sample.id }}"
                                                     style="max-width: 6cm">{{ sample.desired_struct_samp }} </div>
                                            {% endautoescape %}
                                        {% else %}
                                            {% if sample.reaction_path_samp %}
                                                <a href="{{ sample.reaction_path_samp.url }}">Reaction</a>
                                            {% else %}
                                                <span class="text-muted">File not found</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-6 p-2">
                                        {% if sample.not_measured_cause %}
                                            {{ sample.not_measured_cause }}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock content %}