{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% csrf_token %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-7 align-center">

            <div class="card mb-3">
                <div class="card-header pb-2 pl-3">{% trans "My Samples List" %}
                    <a role="button" class="btn btn-sm btn-outline-secondary float-right my-0 py-0"
                       href="{% url "index" %}">{% trans "Back to start" %}</a>
                </div>
                <div class="card-body p-3">
                    {% for sample in object_list %}
                        <div class="card mb-3">
                            <div class="card-header p-2 badge-dark">
                                <span class="ml-2">
                                    {{ sample.sample_name_samp }}
                                </span>
                     {% comment %} TODO: Put this behind experiment list below:
                                <span class="ml-4">
                                    {% if sample.experiments.was_measured %}
                                        <span class="badge badge-success mb-1 p-1">{% trans "Measured" %}</span>
                                    {% elif not sample.experiment_samples.was_measured and sample.experiment_samples.not_measured_cause %}
                                        <span class="badge badge-danger mb-1 p-1">{% trans "Not measureable" %}</span>
                                    {% else %}
                                        <span class="badge badge-warning mb-1">{% trans "Awaiting measurement" %}</span>
                                    {% endif %}
                                </span>
                                {% endcomment %}
                                <span class="float-right">
                                    Submitted: {{ sample.submit_date_samp }}
                                </span>
                            </div>
                            <div class="card-body p-2">
                                <div class="form-row mt-2 m-0 p-0 border-dark border-1">

                                    <div class="col-6 p-0">
                                        {{ sample.sum_formula_samp }}
                                    </div>

                                    <div class="col-4 p-0">
                                        {% if sample.solve_refine_selv_samp %}
                                            {% trans "I refine it myself" %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row mt-2 m-0 p-0">
                                    <div class="col-6 p-0">
                                        {% if sample.desired_struct_samp %}
                                            {% autoescape off %}
                                                <div class="svg p-0 m-0" id="id_{{ sample.id }}"
                                                     style="max-width: 10cm">{{ sample.desired_struct_samp }}
                                                </div>
                                            {% endautoescape %}
                                        {% else %}
                                            {% if sample.reaction_path_samp %}
                                                <a href="{{ sample.reaction_path_samp.url }}">{% trans "Reaction" %}</a>
                                            {% else %}
                                                <span class="text-muted">{% trans "File not found" %}</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-6 p-0">
{#                         TODO: make this work with new ForeignKey in samples: #}
                                        {% if sample.experiment_samples.not_measured_cause %}
                                            <div class="font-weight-bold"> {% trans "Not measured, because:" %}</div>
                                            <div style="min-height: 2.5cm">{{ sample.experiment_samples.not_measured_cause }}</div>
                                        {% else %}
                                            <div style="min-height: 2.5cm" class="">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row mt-2 m-0 p-0 row-cols-sm-1">
                                    <div class="col-6 p-0">

                                        {% for experiment in sample.experiments.all %}
                                            <div>{{ experiment }}
                                                {% if experiment.was_measured %}
                                                    {% trans "measured" %}
                                                {% else %}
                                                    {% trans "could not be measured" %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}

                                    </div>
                                    <div class="col-6 p-0">
                                        {% if sample.special_remarks_samp %}
                                            <div class="font-italic"><em>{% trans "Special remarks:" %}</em></div>
                                            {{ sample.special_remarks_samp }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        {% trans "No samples found" %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock content %}