<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {# Media objects from the admin widgets #}
    <title>IAAC Messlog</title>
</head>
<body>
{% load bootstrap %}

<!-- The navigation bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav nav-pills ">
      <li role="presentation" class="active"><a href="#">Experiments</a></li>
      <li role="presentation"><a href="#">Customers</a></li>
      <li role="presentation"><a href="#">Administration</a></li>
    </ul>
  </div>
</nav>



<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="page-header">
                <h1>IAAC Measurements</h1>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>