<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/fh-3.1.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/>
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/fh-3.1.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script src="{% static 'myjs/messlog_js.js' %}"></script>
    <title>IAAC Messlog</title>
</head>
<body>
{% load bootstrap %}

<!-- The navigation bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav nav-pills ">
      <li role="presentation" class="active"><a href="{% url 'scxrd:index' %}">Experiments</a></li>
      <li role="presentation"><a href="#">Customers</a></li>
      <li role="presentation"><a href="{% url 'admin:index' %}">Administration</a></li>
    </ul>
  </div>
</nav>



<div class="container">
    {% block content %}
    Warning, no content found!!
    {% endblock content %}
</div>
</body>
</html>