

{% comment %}

This table is used to display details about a selected structure on the main page when 
a certain structure is selected in the experiment table.

{% endcomment %}




<table class="table table-condensed table-borderless table-sm">
    <tbody>
    <tr>
        <td> Experiment Number</td>
        <td id="t_exp">  {{ experiment.number }} </td>
    </tr>
    <tr>
        <td> Machine</td>
        <td id="t_machine"> {{ experiment.machine }} </td>
    </tr>
    <tr>
        <td> Solvents</td>
        <td id="t_solents"> {{ experiment.solvents_used.all |join:",<br>" }} </td>
    </tr>
    {% if sumform %}
    <tr>
        <td>Sum Formula</td>
        <td id="t_sumform"> {{ sumform|safe }} </td>
    </tr>
    {% endif %}
    <tr>
        <td>Measured by</td>
        <td id="t_mesuredate"> {{ experiment.operator.get_username }} </td>
    </tr>
    <tr>
        {# |date:'d.m.Y, H:i' #}
        <td>Results sent</td>
        <td id="t_results"> {{ experiment.result_date }} </td>
    </tr>
    <tr>
        <td>Cif file</td>
        <td id="t_cif"> {{ experiment.cif.label }} </td>
    </tr>
    <tr>
        <td><i>wR</i><sub>2</sub></td>
        <td> {{ object.cif.refine_ls_wR_factor_ref }} </td>
    </tr>
    <tr>
        <td>Rint</td>
        <td> 3.4 </td>
    </tr>
    <tr>
        <td>Completeness</td>
        <td> 99 % </td>
    </tr>
    </tbody>
</table>

    
