






<table class="table table-condensed table-hover table-borderless tab">
    <tbody>
    <tr>
        <td> Machine</td>
        <td id="t_machine"> {{ object.machine }}</td>
    </tr>
    <tr>
        <td> Experiment Number</td>
        <td id="t_exp">  </td>
    </tr>
    <tr>
        <td> Solvents</td>
        <td id="t_solents">  </td>
    </tr>
    <tr>
        <td>Sum Formula</td>
        <td id="t_sumform">  </td>
    </tr>
    <tr>
        <td>Measurement Date</td>
        <td id="t_mesuredate">  </td>
    </tr>
    <tr>
        {# |date:'d.m.Y, H:i' #}
        <td>Results sent</td>
        <td id="t_">  </td>
    </tr>
    <tr>
        <td>owner</td>
        <td>  </td>
    </tr>
    </tbody>
</table>
    
    
