

<table id="gallery" class="table table-bordered">
    <thead>
    <tr>
        Files Uploaded:
    </tr>
    <div class="progress" id="progress_upload">
        <div class="progress-bar" role="progressbar" aria-valuemin="0"
             aria-valuemax="100" style="width: 0%;">0%
        </div>
    </div>
    </thead>
    <tbody>
    {# {% for absfile in absfiles %} #}
    <tr>
        <td><a href="{{ absfiles.abs_file.url }}">{{ absfiles.abs_file.name }}</a></td>
    </tr>
    {# {% endfor %} #}
    </tbody>
</table>


