{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}


{% block content %}
    {% load crispy_forms_tags %}
    <div class="row justify-content-center">
        <div class="col-6">
            <table id="reptable" class="table table-sm table-condensed table-hover" width="100%">
                <thead>
                <tr>
                    <td>Key</td><td>Value</td>
                </tr>
                </thead>
                <tbody>

{#                {% for key in cifdata %}#}
                {% for key, value in cifdata.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>
                            <input type="text" class="form-control-plaintext" value="{{ value }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8 col-sm-8">
            {# <legend>New Experiment</legend> #}
            {% crispy form %}
        </div>
    </div>
{% endblock content %}
