{% extends 'base.html' %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}


{% block content %}
    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'jquery-file-upload-9.28.0/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'jquery-file-upload-9.28.0/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'jquery-file-upload-9.28.0/jquery.fileupload.js' %}"></script>

    {# Custom upload SCRIPTS #}
    <script src="{% static 'myjs/drag-and-drop-upload.js' %}"></script>

    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8 col-sm-8">
            {% crispy form %}
            <script>
                var upload_files = '{% url "scxrd:upload_files" pk=object.pk %}';
                get_uploaded_files(upload_files);
            </script>
        </div>
    </div>
{% endblock content %}
