{% extends "scxrd/base.html" %}
{% load static %}


{% block content %}

    <div class="row">
        <!-- Left column with experiment table -->
        <div class="col col-lg-8">
            <div class="card mt-3 mb-2">
                <div class="flex-column m-1">
                    <table id="exptable" class="table table-condensed" width="100%"></table>
                    {% include 'scxrd/experiment_grid.html' %}
                </div>
            </div>
            <a role="button" class="btn btn-primary" href="{% url 'scxrd:new' %}">New Experiment</a>
        </div>

        <!-- Right column with details -->
        <div class="col-md-4">
            <div class="row">
                <div class="card mt-3" style="height: 300px; width: 300px">
                    <div class="card-header">Structure View</div>
                    <div class="card-body">
                        No atomic data for this structure.
                    </div>
                    <div class="card-footer">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="growStruct">
                            <label class="form-check-label" for="exampleCheck1">Grow Structure</label>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mt-3" style="width: 300px">
                    <div class="card-header">Details</div>
                    <div class="card-body">
                        <!-- insert details_table.html -->
                        <div id="ttable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}