
{% block content %}

    <table class="table table-sm table-condensed table-hover" id="files_table">
        {% if ciffile.exists %}
            <tr>
                <td>Current CIF:</td>
                <td><a href="{{ ciffile.cif_file_on_disk.url }}"
                       type="text/plain">{{ ciffile.cif_file_on_disk.name }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td>No CIF uploaded</td>
            </tr>
        {% endif %}
        {% if supplement.exists %}
            <tr>
                <td>Additional document:</td>
                <td><a href="{{ absfile.abs_file.url }}" type="text/plain">{{ absfile.abs_file.name }}</a></td>
            </tr>
        {% endif %}
    </table>

{% endblock content %}
