{% extends 'scxrd/base.html' %}



<!-- Initialize Bootstrap functionality -->
<script>
    // Initialize tooltip component
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    // Initialize popover component
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>

{% load bootstrap %}

{% block content %}
    {% load static %}
    <form class="form" method="post" enctype="multipart/form-data">
        {# <legend>Form Title</legend> #}
        {% csrf_token %}
        {{ form| bootstrap_horizontal }}
        <button type="submit" class="btn btn-primary" >Save</button>
    </form>

{% endblock %}