{% extends 'registration/registration_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{# TODO: create view for this page #}

{% block inner_content %}

    <div class="card-header">
        <h3>User Profile</h3>
    </div>
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form |crispy }}
            <button class="btn btn-primary mr-2" type="submit"> Save </button>
        </form>
    </div>

{% endblock inner_content %}