{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}

{# TODO: create view for this page #}

{% block inner_content %}

    <div class="card-header">
        <h3>User Profile</h3>
    {% trans "You only need to fill the required fields (with *)" %}
    </div>
    <div class="card-body mb-3">
        <form method="post">
            {% csrf_token %}
            {{ user_form |crispy }}
            {{ profile_form |crispy }}
            <button class="btn btn-primary mr-2" type="submit"> Save </button>
            <a href="{% url 'index' %}" class="btn btn-outline-danger">Cancel</a>
        </form>
    </div>

{% endblock inner_content %}