{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block inner_content %}

    <div class="card-header">
        <h3>{% trans "New User" %}</h3>
    </div>
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ user_form |crispy }}
            <button class="btn btn-primary mr-2" type="submit">{% trans "Sign Up" %}</button>
            <a href="{% url 'index' %}" class="btn btn-outline-danger">Cancel</a>
        </form>
    </div>

{% endblock inner_content %}