
{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h2>Options</h2>

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-3">
                <ul>
                    <li>
                        <a class="btn btn-outline-secondary" role="button" href="{% url 'password_change' %}">Change Password</a>
                    </li>
                </ul>
            </div>
        </div>

    {% else %}

        <h2>You must login to change options</h2>

    {% endif %}

{% endblock content %}