{% extends 'base.html' %}

{% block content %}
    <h2>Set new Password</h2>
    
    <div class="row">
        <div class="col-3">
            {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
            {% else %}
                <p style="color: darkred">Invalid token!</p>
                <p>
                    <a href="{% url 'password_reset' %}">Request a new password reset token.</a>
                </p>
            {% endif %}
        </div>
    </div>
    
{% endblock content %}