{% extends 'base.html' %}

{% block content %}
    <h2>Change Password</h2>

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-3">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Change</button>
                </form>
            </div>
        </div>

    {% else %}

        <h2>You must login to change Passwords</h2>

    {% endif %}

{% endblock content %}