{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block inner_content %}

    <div class="card-header">
        <h3 class="text-success">{% trans "Password changed sucessfully!" %}</h3>
    </div>
    <div class="card-body">
        <p>
            {% url 'login' as the_url %}
            {% blocktrans %}You may now <a href="{{ the_url }}">login</a> again.{% endblocktrans %}
        </p>
    </div>

{% endblock inner_content %}