{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block inner_content %}

    <div class="card-header">
        <h3>{% trans "Set new Password" %}</h3>
    </div>
    <div class="card-body">
        {% if validlink %}
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mr-2">{% trans "Save" %}</button>
            </form>
        {% else %}
            <p class="text-danger">{% trans "Invalid token!" %}</p>
            <p>
                <a href="{% url 'password_reset' %}">{% trans "Request a new password reset token." %}</a>
            </p>
        {% endif %}
    </div>

{% endblock inner_content %}