{% extends 'registration/registration_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block inner_content %}

    <div class="card-header">
        <h3>Set new Password</h3>
    </div>
    <div class="card-body">
        {% if validlink %}
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Save</button>
            </form>
        {% else %}
            <p style="color: darkred">Invalid token!</p>
            <p>
                <a href="{% url 'password_reset' %}">Request a new password reset token.</a>
            </p>
        {% endif %}
    </div>


{% endblock inner_content %}