
html {
    /* make font a bit smaller in general: */
    font-size: 0.95rem;
}

a div, a:hover {
    text-decoration: none;
    color: #007bff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#28a745;
}

/*.asteriskField {
    display: none;
}*/

form .alert ul li {
    list-style: none;
}

.ScrollBarsY {
  height: 3rem;
  overflow-y: auto;
}

.card-header {
    font-weight: bold;
}

.col-form-label {
    /*font-weight: bold;*/
}

/*
  smaller font size for the main experiments table:
*/
#exptable_wrapper {
    font-size: 0.9rem;
}