<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Ketcher v2</title>

    <link rel="stylesheet" href="{% static 'ketcher/ketcher.css' %}">
    <script src="{% static 'ketcher/raphael.min.js' %}"></script>
    <script src="{% static 'ketcher/ketcher.js' %}"></script>
    <style>
        #process {
            /*
            Hides the unused menu items:
            */
            visibility: hidden;
            /*background-color: #00aa00;*/
        }
    </style>
</head>
<body>

</body>
    
</html>

