{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="row justify-content-center">
        <!-- Left column -->
        <div class="col-4 mt-4">
            <a href="{% url 'scxrd:index' %}">
                <div class="card mb-4 text-center p-4 bg-light h-50">
                    <h1 class="display-3 font-weight-normal">
                        My Samples
                    </h1>
                </div>
            </a>
            <a href="{% url 'scxrd:submit_experiment' %}">
                <div class="card mb-4 text-center p-4 bg-light h-50">
                    <h1 class="display-3 font-weight-normal">
                        Submit Sample
                    </h1>
                </div>
            </a>
        </div>


        <div class="col-4 mt-4">
            <a href="{% url 'scxrd:index' %}">
                <div class="card mb-4 text-center p-4 bg-light h-50"">
                    <h1 class="display-3 font-weight-normal">
                        Finder
                    </h1>
                </div>
            </a>
            <a href="{% url 'scxrd:index' %}">
                <div class="card mb-4 text-center p-4 bg-light h-50">
                    <h1 class="display-3 font-weight-normal">
                        Bar
                    </h1>
                </div>
            </a>
        </div>
    </div>

{% endblock content %}